<ul class="flex h-24 items-center bg-indigo-300">
  <li
    (click)="goToHome()"
    class="flex-1 mr-2 h-full flex justify-center items-center hover:bg-blue-700 bg-indigo-300"
  >
    <a class="text-center block rounded py-2 px-4 text-white" href="#">Home</a>
  </li>
  <li
    (click)="goToForums()"
    class="flex-1 mr-2 h-full flex justify-center items-center hover:bg-blue-700 bg-indigo-300"
  >
    <a class="text-center block rounded py-2 px-4 text-white" href="#"
      >Forums</a
    >
  </li>
  <li
    (click)="goToHiScores()"
    class="flex-1 mr-2 h-full flex justify-center items-center hover:bg-blue-700 bg-indigo-300"
  >
    <a class="text-center block rounded py-2 px-4 text-white" href="#"
      >Highscores</a
    >
  </li>
  <li
    (click)="goToVote()"
    class="flex-1 mr-2 h-full flex justify-center items-center hover:bg-blue-700 bg-indigo-300"
  >
    <a class="text-center block rounded py-2 px-4 text-white" href="Vote"
      >Vote</a
    >
  </li>
  <li
    (click)="goToStore()"
    class="flex-1 mr-2 h-full flex justify-center items-center hover:bg-blue-700 bg-indigo-300"
  >
    <a class="text-center block rounded py-2 px-4 text-white" href="#">Store</a>
  </li>
  <li
    (click)="goToPlay()"
    class="flex-1 mr-2 h-full flex justify-center items-center hover:bg-blue-700 bg-indigo-300"
  >
    <a class="text-center block rounded py-2 px-4 text-white" href="#">Play</a>
  </li>
</ul>
